<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Register Page
    </h1>
    <h2>
        {{movie_name}}
        {{genres}}
    </h2>
    {% for genre in genres %}
        {{genre.name}}
        {{genre.description}}
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">Save</button>
    </form>
</body>
</html>