<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        welcome to the login page
    </h1>
    <div class="card card-body">
        <form method="post">
            {% csrf_token %}
            <label>Username:</label><br />
            <input type="text" name="Username" class="form-control" /> <br />

            <label>Password:</label><br />
            <input type="password" name="Password" class="form-control" /> <br />

            <button type="submit"> login</button>
        </form>
    </div>
</body>
</html>